header {
  height: 70px;
  margin-bottom: 20px;
  background-color: #17a2b8;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header a {
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

header a:hover {
  opacity: 1;
}

header a.active {
  opacity: 1;
}
