.btn {
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  outline: none;
  background-color: greenyellow;
  cursor: pointer;
}

.btn.delete {
  background-color: rebeccapurple;
  color: #fff;
}
